</main>
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center d-flex flex-column align-items-center justify-content-center">
                <div class="footer__line"></div>
                <span class="footer__text">Ваш личный островок курорта.<br>Сочи - это 300 солнечных дней в году<br> это
						море
						и
						горнолыжный курорт.<br>
						Горный и морской воздух отсутствие заводов и вредных производств.<br>
						Инвестиция, которая постоянно растет в цене</span>
            </div>
        </div>
    </div>
</section>
